<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>flotarFuego_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,87},{54,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,80}}</string>
				<key>sourceSize</key>
				<string>{54,80}</string>
			</dict>

			<key>flotarFuego_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,168},{54,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,84}}</string>
				<key>sourceSize</key>
				<string>{54,84}</string>
			</dict>

			<key>flotarFuego_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,0},{54,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,86}}</string>
				<key>sourceSize</key>
				<string>{54,86}</string>
			</dict>

			<key>flotarFuego_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,170},{54,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,78}}</string>
				<key>sourceSize</key>
				<string>{54,78}</string>
			</dict>

			<key>flotarFuego_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,89},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>flotarFuego_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,172},{56,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,82}}</string>
				<key>sourceSize</key>
				<string>{56,82}</string>
			</dict>

			<key>flotarFuego_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,0},{56,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,88}}</string>
				<key>sourceSize</key>
				<string>{56,88}</string>
			</dict>

			<key>flotarFuego_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{58,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,88}}</string>
				<key>sourceSize</key>
				<string>{58,88}</string>
			</dict>

			<key>flotarFuego_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{58,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,82}}</string>
				<key>sourceSize</key>
				<string>{58,82}</string>
			</dict>

			<key>flotarFuego_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{58,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,88}}</string>
				<key>sourceSize</key>
				<string>{58,88}</string>
			</dict>

			<key>flotarFuego_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,0},{56,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,88}}</string>
				<key>sourceSize</key>
				<string>{56,88}</string>
			</dict>

			<key>flotarFuego_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,172},{56,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,82}}</string>
				<key>sourceSize</key>
				<string>{56,82}</string>
			</dict>

			<key>flotarFuego_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,89},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>flotarFuego_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,170},{54,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,78}}</string>
				<key>sourceSize</key>
				<string>{54,78}</string>
			</dict>

			<key>flotarFuego_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,0},{54,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,86}}</string>
				<key>sourceSize</key>
				<string>{54,86}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>floatFuego.png</string>
			</dict>
		</dict>
</plist>