<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>flotarAire_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,333},{58,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,70}}</string>
				<key>sourceSize</key>
				<string>{58,70}</string>
			</dict>

			<key>flotarAire_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,211},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,70}}</string>
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>

			<key>flotarAire_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,126},{60,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,70}}</string>
				<key>sourceSize</key>
				<string>{60,70}</string>
			</dict>

			<key>flotarAire_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,353},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,70}}</string>
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>

			<key>flotarAire_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,71},{55,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,70}}</string>
				<key>sourceSize</key>
				<string>{55,70}</string>
			</dict>

			<key>flotarAire_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,378},{61,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,70}}</string>
				<key>sourceSize</key>
				<string>{61,70}</string>
			</dict>

			<key>flotarAire_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,65},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,70}}</string>
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>

			<key>flotarAire_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,315},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>

			<key>flotarAire_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,404},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,70}}</string>
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>

			<key>flotarAire_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,404},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,68}}</string>
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>

			<key>flotarAire_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,197},{58,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,64}}</string>
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>

			<key>flotarAire_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,449},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>

			<key>flotarAire_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{66,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,62}}</string>
				<key>sourceSize</key>
				<string>{66,62}</string>
			</dict>

			<key>flotarAire_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,323},{60,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,54}}</string>
				<key>sourceSize</key>
				<string>{60,54}</string>
			</dict>

			<key>flotarAire_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,62}}</string>
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>

			<key>flotarAire_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{66,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,62}}</string>
				<key>sourceSize</key>
				<string>{66,62}</string>
			</dict>

			<key>flotarAire_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,189},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,62}}</string>
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>

			<key>flotarAire_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,449},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>

			<key>flotarAire_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,0},{58,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,64}}</string>
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>

			<key>flotarAire_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,0},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,68}}</string>
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>

			<key>flotarAire_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,282},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,70}}</string>
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>

			<key>GflotarAire_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,252},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>

			<key>flotarAire_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,140},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,70}}</string>
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>

			<key>flotarAire_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{61,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,70}}</string>
				<key>sourceSize</key>
				<string>{61,70}</string>
			</dict>

			<key>flotarAire_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,0},{55,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,70}}</string>
				<key>sourceSize</key>
				<string>{55,70}</string>
			</dict>

			<key>flotarAire_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,69},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,70}}</string>
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>

			<key>flotarAire_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,252},{60,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,70}}</string>
				<key>sourceSize</key>
				<string>{60,70}</string>
			</dict>

			<key>flotarAire_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,424},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,70}}</string>
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>

			<key>flotarAire_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,262},{58,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,70}}</string>
				<key>sourceSize</key>
				<string>{58,70}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>floatAire.png</string>
			</dict>
		</dict>
</plist>