<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jumpAire_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,59},{52,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,60}}</string>
				<key>sourceSize</key>
				<string>{52,60}</string>
			</dict>

			<key>jumpAire_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,128},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,62}}</string>
				<key>sourceSize</key>
				<string>{54,62}</string>
			</dict>

			<key>jumpAire_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,0},{50,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,56}}</string>
				<key>sourceSize</key>
				<string>{50,56}</string>
			</dict>

			<key>jumpAire_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,67},{50,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,54}}</string>
				<key>sourceSize</key>
				<string>{50,54}</string>
			</dict>

			<key>jumpAire_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,191},{54,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,60}}</string>
				<key>sourceSize</key>
				<string>{54,60}</string>
			</dict>

			<key>jumpAire_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,0},{52,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,66}}</string>
				<key>sourceSize</key>
				<string>{52,66}</string>
			</dict>

			<key>jumpAire_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,56}}</string>
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>

			<key>jumpAire_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>

			<key>jumpAire_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,59},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,68}}</string>
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>

			<key>jumpAire_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{54,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,68}}</string>
				<key>sourceSize</key>
				<string>{54,68}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>jumpingAire.png</string>
			</dict>
		</dict>
</plist>