<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>walkHielo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{48,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,58}}</string>
				<key>sourceSize</key>
				<string>{48,58}</string>
			</dict>

			<key>walkHielo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,59},{50,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,60}}</string>
				<key>sourceSize</key>
				<string>{50,60}</string>
			</dict>

			<key>walkHielo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,59},{48,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,58}}</string>
				<key>sourceSize</key>
				<string>{48,58}</string>
			</dict>

			<key>walkHielo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,0},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>walkHielo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>walkHielo_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,59},{47,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,56}}</string>
				<key>sourceSize</key>
				<string>{47,56}</string>
			</dict>

			<key>walkHielo_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{50,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,58}}</string>
				<key>sourceSize</key>
				<string>{50,58}</string>
			</dict>

			<key>walkHielo_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,0},{48,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,58}}</string>
				<key>sourceSize</key>
				<string>{48,58}</string>
			</dict>

			<key>walkHielo_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,59},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>walkHielo_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,57},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,128}</string>
			<key>textureFileName</key>
			<string>WalkingHielo.png</string>
			</dict>
		</dict>
</plist>