<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>walkFuego_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{50,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,76}}</string>
				<key>sourceSize</key>
				<string>{50,76}</string>
			</dict>

			<key>walkFuego_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,65},{48,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,76}}</string>
				<key>sourceSize</key>
				<string>{48,76}</string>
			</dict>

			<key>walkFuego_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,154},{52,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,76}}</string>
				<key>sourceSize</key>
				<string>{52,76}</string>
			</dict>

			<key>walkFuego_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,0},{48,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,78}}</string>
				<key>sourceSize</key>
				<string>{48,78}</string>
			</dict>

			<key>walkFuego_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,142},{50,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,70}}</string>
				<key>sourceSize</key>
				<string>{50,70}</string>
			</dict>

			<key>walkFuego_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,0},{48,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,68}}</string>
				<key>sourceSize</key>
				<string>{48,68}</string>
			</dict>

			<key>walkFuego_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,142},{48,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,72}}</string>
				<key>sourceSize</key>
				<string>{48,72}</string>
			</dict>

			<key>walkFuego_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,136},{48,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,72}}</string>
				<key>sourceSize</key>
				<string>{48,72}</string>
			</dict>

			<key>walkFuego_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,77},{52,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,76}}</string>
				<key>sourceSize</key>
				<string>{52,76}</string>
			</dict>

			<key>walkFuego_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,77},{52,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,70}}</string>
				<key>sourceSize</key>
				<string>{52,70}</string>
			</dict>

			<key>walkFuego_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{54,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,74}}</string>
				<key>sourceSize</key>
				<string>{54,74}</string>
			</dict>

			<key>walkFuego_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,0},{54,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,76}}</string>
				<key>sourceSize</key>
				<string>{54,76}</string>
			</dict>

			<key>walkFuego_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{54,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,78}}</string>
				<key>sourceSize</key>
				<string>{54,78}</string>
			</dict>

			<key>walkFuego_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,75},{54,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,68}}</string>
				<key>sourceSize</key>
				<string>{54,68}</string>
			</dict>

			<key>walkFuego_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,77},{50,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,64}}</string>
				<key>sourceSize</key>
				<string>{50,64}</string>
			</dict>

			<key>walkFuego_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,148},{50,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,64}}</string>
				<key>sourceSize</key>
				<string>{50,64}</string>
			</dict>

			<key>walkFuego_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,0},{48,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,64}}</string>
				<key>sourceSize</key>
				<string>{48,64}</string>
			</dict>

			<key>walkFuego_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,69},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,66}}</string>
				<key>sourceSize</key>
				<string>{48,66}</string>
			</dict>

			<key>walkFuego_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,148},{50,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,72}}</string>
				<key>sourceSize</key>
				<string>{50,72}</string>
			</dict>

			<key>walkFuego_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,0},{50,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,70}}</string>
				<key>sourceSize</key>
				<string>{50,70}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>WalkingFuego.png</string>
			</dict>
		</dict>
</plist>