<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>walkAire_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,0},{56,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,66}}</string>
				<key>sourceSize</key>
				<string>{56,66}</string>
			</dict>

			<key>walkAire_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,0},{54,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,64}}</string>
				<key>sourceSize</key>
				<string>{54,64}</string>
			</dict>

			<key>walkAire_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,0},{58,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,64}}</string>
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>

			<key>walkAire_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,132},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,62}}</string>
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>

			<key>walkAire_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,63},{56,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,62}}</string>
				<key>sourceSize</key>
				<string>{56,62}</string>
			</dict>

			<key>walkAire_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{60,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,62}}</string>
				<key>sourceSize</key>
				<string>{60,62}</string>
			</dict>

			<key>walkAire_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,65},{54,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,60}}</string>
				<key>sourceSize</key>
				<string>{54,60}</string>
			</dict>

			<key>walkAire_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,65},{58,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,66}}</string>
				<key>sourceSize</key>
				<string>{58,66}</string>
			</dict>

			<key>walkAire_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,126},{54,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,66}}</string>
				<key>sourceSize</key>
				<string>{54,66}</string>
			</dict>

			<key>walkAire_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,0},{54,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,64}}</string>
				<key>sourceSize</key>
				<string>{54,64}</string>
			</dict>

			<key>walkAire_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,193},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,62}}</string>
				<key>sourceSize</key>
				<string>{54,62}</string>
			</dict>

			<key>walkAire_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,64}}</string>
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>

			<key>walkAire_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,195},{56,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,60}}</string>
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>

			<key>walkAire_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>walkAire_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{56,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,62}}</string>
				<key>sourceSize</key>
				<string>{56,62}</string>
			</dict>

			<key>walkAire_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,189},{58,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,64}}</string>
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>

			<key>walkAire_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,189},{58,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,64}}</string>
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>

			<key>walkAire_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,134},{56,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,66}}</string>
				<key>sourceSize</key>
				<string>{56,66}</string>
			</dict>

			<key>walkAire_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,65},{54,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,66}}</string>
				<key>sourceSize</key>
				<string>{54,66}</string>
			</dict>

			<key>walkAire_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,67},{56,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,66}}</string>
				<key>sourceSize</key>
				<string>{56,66}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>WalkingAire.png</string>
			</dict>
		</dict>
</plist>